{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
    <form method="post" action=".">
        {% csrf_token %}
        <div class="login-form" style="margin: 20%; width:400pt;">
            <h4 style="margin: 0 0 5% 25%;">Request reset mail</h4>
            <div class="form-group">
                {% render_field form.email type="mail" class="form-control login-field" value="" placeholder="Enter your email" id="login-email" %}
                <label class="login-field-icon fui-mail" for="login-email"></label>
                <input type="submit" style="margin-top: 5%;" class="btn btn-primary btn-lg btn-block" value='Submit'/>
            </div>
            <div class="text-danger">
            {% for field in form %}
                <p>{{ field.errors }}</p>
            {% endfor %}
        </div>
        </div>

    </form>
{% endblock %}
