{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

    {% if validlink %}

        <form method="post" action=".">
            {% csrf_token %}
            <div class="login-form" style="margin: 10% 20% 10%; width:400pt;">
                <h4 style="margin: 0 0 5% 20%;">Set your new password</h4>
                <div class="form-group">
                    {% render_field form.new_password1 type="password" class="form-control password-field" value="" placeholder="New password" id="new-password1" %}
                    <label class="login-field-icon fui-lock" for="new-password1"></label>
                </div>
                <span class="helptext"><ul>
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul></span></p>
                <div class="form-group">
                    {% render_field form.new_password2 type="password" class="form-control password-field" value="" placeholder="Repeat new password" id="new-password2" %}
                    <label class="login-field-icon fui-lock" for="new-password2"></label>
                </div>
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="{% trans 'Submit' %}"/>
                <div class="text-danger">
                {% for field in form %}
                    <p>{{ field.errors }}</p>
                {% endfor %}
            </div>
            </div>
        </form>

    {% else %}

        <p>{% trans "Password reset failed" %}</p>

    {% endif %}

{% endblock %}